<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/unit/bootstrap.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Yii2 API Test Suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">controllers</directory>
            <directory suffix=".php">dto</directory>
            <directory suffix=".php">interfaces</directory>
            <directory suffix=".php">services</directory>
        </whitelist>
    </filter>
</phpunit>